<div class="small-12 devise-page-container">

  <div class="small-12 large-6 columns form-container center-block">
    
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <div class="small-12 large-6 columns">
          <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
        </div>
        <div class="small-12 large-6 columns">
          <%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>
      </div>

      <div class="field">
        <div class="small-12 columns">
          <%= f.email_field :email, placeholder: "Email" %>
        </div>
      </div>

      <div class="field">
        <div class="small-12 large-6 columns">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password (#{@minimum_password_length || 6} characters minimum)" %>
        </div>
        <div class="small-12 large-6 columns">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %>
        </div>
      </div>

      <div class="actions">
        <div class="small-12 columns">
          <%= f.submit "Sign up" %>
        </div>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div> <!-- form-container -->

</div>

